{{> menu}}

<section class="section columns is-vcentered">
  <div class="column has-text-centered">
    <div class="title">
      {{playlist.title}}
    </div>
    {{> list-tracks}}
    {{> add-track}}
  </div>
  <div class="column">
    {{> playlist-image }}
  </div>
</section>