<section class="hero is-link is-small mt-4 mb-4">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered is-size-4">
        {{title}}
      </h1>
    </div>
  </div>
</section>