<div class="field">
  <label class="label">Email</label>
  <div class="control has-icons-left">
    <input class="input" id="email" type="text" placeholder="Enter email" name="email">
    <span class="icon is-small is-left">
      <i class="fa fa-envelope"></i>
    </span>
  </div>
</div>
<div class="field">
  <label class="label">Password</label>
  <div class="control has-icons-left">
    <input class="input" id="password" type="password" placeholder="Enter Password" name="password">
    <span class="icon is-small is-left">
      <i class="fa fa-key"></i>
    </span>
  </div>
</div>
