{{> menu }}
{{> heading }}

<div class="columns">
  <div class="column">
    <div class="card mb-5">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="fas fa-coins"></i></span><span>Donations to Date</span>
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          {{> donation-list}}
        </div>
      </div>
    </div>
  </div>
  <div class="column is-5">
    <figure class="image">
      <img class="object-fit" src="/homer-1.png" alt="homer" />
    </figure>
  </div>
</div>